.input{
    display: flex;
    padding: 0.8rem;
    
    
}

.button{
    border: none;
    background: #db504a;
    color: #fff;
    padding: 0.7rem;
    width: 100%;
    cursor: pointer;
    
}

.busy{
    color: #fff;
    font-size: small;
    padding-left: 0.6rem;
}