.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section{
    display: block;
    width: 100%;
    max-height: 100vh;
    float: left;
    
}



.h2{
    display: flex;
    justify-content: center;
    color: #db504a;
    padding: 0.7rem;
    text-transform: uppercase;
}
